<app-loader></app-loader>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2 p-2">
  <a class="navbar-brand" href="#">Colegio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a
          class="nav-link"
          (click)="selectItem('seccionList')"
          style="cursor: pointer"
          >Secciones</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="selectItem('alumnoList')"
          style="cursor: pointer"
          >Alumnos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="selectItem('personalList')"
          style="cursor: pointer"
          >Personal</a
        >
      </li>
      <li
        class="nav-item dropdown"
        (mouseover)="abrirDrop()"
        (mouseout)="cerrarDrop()"
      >
        <a id="dropMenuBtn" class="nav-link dropdown-toggle"> Dropdown link </a>
        <div
          id="dropMenuBtn2"
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a class="dropdown-item" (click)="selectItem('alumnoList')">Action</a>
          <a class="dropdown-item" (click)="selectItem('')">Another action</a>
          <a class="dropdown-item" (click)="selectItem('')"
            >Something else here</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
